#home-image {
	background: url("https://github.com/vmathur/mhacks3/blob/master/public/images/icon.png?raw=true");
	margin-left: auto; 
	margin-right: auto; 
	width:88px; 
	height:80px;
}


#menuButton {
	float:right;
}

#home-image:hover {
	background: url("https://github.com/vmathur/mhacks3/blob/master/public/images/iconsmile.png?raw=true");
}

#menu{
	text-align:left;
	float:right;
	width:50%;
	height:100%
}

#pageTitle {
	font-size: 40px;

	text-align: center;
}

#userInput, #studyingInput, #findInput{
	text-align: center; 
	padding: 10px 0px 0px 0px;
}

#findInput{
	margin-top:-36px;
}

.form-control {
	color: #29AF84;
	width: 400px;
	height:54px;
	font-size: 20px;
	text-align: center;
}

.buddies {
	background: url("https://github.com/vmathur/mhacks3/blob/master/public/images/buddies.png?raw=true");
	width: 400px;
	height:300px;
}

.buddies:hover {
	border: 3px;
}

.buttons {
	width: 15%;
	margin:auto;
	/*text-align: center;*/
	padding-top: 10px;
}

.btn-group {
	border-radius: 50%;
	color: #29AF84;
}

html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	font-family: "HelveticaNeue-Light";
	font-weight: 200;
      }

#map-canvas {
	float:left;
    	height: 500px;
	width:50%;
   	margin: 0px;
    	padding: 0px
      }