.header {
	background-color: #fbcf61;
	width: 100%;
	height: 300px;
	padding: 0;
}

.container  {
	padding: 0;
	margin: 0;
	width: 100%;
}

#home-image {
	background: url("https://github.com/vmathur/mhacks3/blob/master/public/images/icon.png?raw=true");
	margin-left: auto; 
	margin-right: auto; 
	width:88px; 
	height:80px;
}


#menuButton {
	float:right;
}

#itseasy {
	background-color: #eaeaea;
	text-align: center;
	height: 300px;
	width: 100%;
	opacity: 0.6;	
}

#itseasy > h2 {
	color: #666;
	font-size: 40px;
	margin: 0;
	padding-top: 50px;
}

#itseasy > p {
	font-size: 18px;
	width: 300px;
	padding-top: 30px;
	color: #333;
	margin: auto;
}

#find:hover{
	color: white;
}

#home-image:hover {
	background: url("https://github.com/vmathur/mhacks3/blob/master/public/images/iconsmile.png?raw=true");
}

#menu{
	text-align:left;
	float:right;
	width:25%;
	height:100%
}

h1 {
	font-size: 72px;
	text-align: center;
	color: white;
	vertical-align: middle;
	margin: 0;
	line-height: 300px;
	text-shadow: 3px 3px 3px #f9b512;
}

#userInput, #studyingInput, #findInput{
	text-align: center; 
	padding: 50px 0px 0px 0px;
	height: 300px;
}

#findInput{
	margin-top:-36px;
}

.form-control {
	color: #29AF84;
	width: 400px;
	height:54px;
	font-size: 20px;
	text-align: center;
}

.buttons {
	width: 15%;
	margin:auto;
	/*text-align: center;*/
	padding-top: 10px;
}

.btn-group {
	border-radius: 50%;
	color: #29AF84;
}

.studyList {
	width: 100%;
}

html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	font-family: "HelveticaNeue-Light";
	font-weight: 200;
      }

#changeSubject{
	float:right;
	margin-top: 10px;
	margin-right: 10px;
}

#status{
	text-align: center;
	vertical-align: :center;
}

#map-canvas {
	float:left;
    	height: 500px;
	width:75%;
   	margin: 0px;
    	padding: 0px
      }